body {
    padding: 0;
    margin: 0;
    font-family: "Merriweather", sans-serif;
    background-color: #ebf2ff;
    overflow-x: hidden;
    transition: 0.5s;
}

nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Lato', sans-serif;
    padding: 0 5%;
    height: 100px;
    background-color: #E74C3C;
}

nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #fff;
}

nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .links li {
    list-style: none;
}

nav .links a {
    display: block;
    padding: 1em;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

#nav-toggle {
    position: absolute;
    top: -100px;
}

nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

.brand__logo {
    max-height: 70px;
    width: auto;
    padding-left: 1rem;
}

a:hover {
    transition: .5s;
    transform: scale(1.2);
}

.hero-image {
    position: relative;
    height: 700px;
    overflow: hidden;
    background: url(./assets/avocado_burger.JPG) no-repeat center;
    background-size: cover;
}


/*button {
    border: none;
    cursor: pointer;
}*/

.button__primary {
    margin: 10px;
    padding: 0.5rem 1rem;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
    font-weight: 600;
    background-size: 200% auto;
    box-shadow: 0 0 20px rgb(133, 5, 5);
    border-radius: 4px;
    display: block;
}

.button__primary:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.container {
    text-align: center;
    position: absolute;
    width: 100%;
    color: rgb(253, 247, 247);
    text-shadow: 0 0 20px rgb(14, 5, 5);
    height: auto;
    margin-top: 100px;
}

h1 {
    font-size: 7em;
    font-family: 'Poppins', sans-serif;
}

a {
    margin-top: 20px;
    font-size: 1.3em;
    font-family: "Lato", sans-serif;
}

.btn {
    color: #fff;
    border: none;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    padding: 10px 24px;
    font-size: 20px;
    background: #b80e0e;
    font-weight: 200;
}

.btn:hover,
.btn:active {
    background-color: rgb(228, 75, 28);
    color: rgb(248, 232, 4);
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
    box-shadow: rgb(243, 69, 69);
}

h1.mid-text {
    font-size: 4em;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(206, 14, 14);
    text-align: center;
    margin-top: 20px;
}

.mid-content {
    border-top: 10px solid rgb(206, 14, 14);
    padding: 30px;
    border-bottom: 10px solid rgb(206, 14, 14);
}

h3 {
    padding-top: o;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.button {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    display: grid;
    border: 0;
    text-decoration: none;
    outline: none;
    color: rgb(206, 14, 14)
}

.hero-image1 {
    position: relative;
    height: 700px;
    overflow: hidden;
    background: url(./assets/burger1.jpg) no-repeat center;
    background-size: cover;
}

.bottom-img {
    float: left;
    width: 33.33%;
    padding: 0px;
    height: 30rem;
    width: 50rem;
}

.video__footage__container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
}

.video__footage {
    position: relative;
}

.video__footage::before {
    background-image: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(1rem, 1rem);
    height: 100%;
    width: 100%;
    z-index: -1;
}

.video__footage__text {
    margin-top: 2rem;
    color: #1d3557;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
}

h1.bottom-text {
    font-size: 6em;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(253, 251, 251);
    text-align: center;
    margin-top: 20px;
    text-shadow: rgb(15, 14, 14);
}

@media screen and (max-width: 768px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }
    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, .8);
        overflow: hidden;
        box-sizing: border-box;
        transition: all .5s ease-in-out;
    }
    nav .links a {
        font-size: 20px;
    }
    nav :checked~.links {
        bottom: 0;
    }
    nav .icon-burger {
        display: block;
    }
    nav :checked~.icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked~.icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked~.icon-burger .line:nth-child(2) {
        opacity: 0;
    }
    h1 {
        font-size: 5em;
        font-family: "Merriweather", sans-serif;
    }
    .video__footage__container {
        margin-bottom: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .video__footage {
        margin-right: 2rem;
    }
    .video__footage__text {
        margin-left: 2rem;
    }
}

@media only screen and (max-width: 540px) {
    .inner-container {
        margin-top: 150px;
        ;
    }
    h1 {
        font-size: 5em;
        ;
    }
}